.header-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-pages__line {
  border-bottom: 1px solid #FFFFFF;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__item {
  position: relative;
  padding: 20px 5px;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: #03ebfc;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #03fc4e;
}

.navigation__link--current::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.btn-prim {
  height: 36px;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.40;
  background-color: #018ABE;
  color: #FFFFFF;
  border-radius: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-prim:hover,
.btn-prim:focus {
  color: #03fc4e;
}

.section-hero {
  max-width: 1296px;
  height: 600px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(152, 201, 220, 0.3), rgba(152, 201, 220, 0.3)), url(../images/hero.jpg);
  border-radius: 10px;
}

.hero__padding {
  padding: 210px 0;
}

.hero-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.40;
  text-align: center;
}

.hero-text::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 14px;
  background-image: url("/images/sheet.png");
  margin-right: 66px;
}

.hero-text::after {
  content: '';
  display: inline-block;
  width: 28px;
  height: 14px;
  background-image: url("/images/sheet.png");
  margin-left: 66px;
  transform: scale(1, -1);
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.40;
  text-align: center;
}

.sessions {
  padding: 150px 0;
}

.sessions__block {
  display: flex;
}

.section__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 100px;
}

.section__title::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 14px;
  background-image: url("/images/sheet-blue.png");
  margin-right: 45px;
}

.section__title::after {
  content: '';
  display: inline-block;
  width: 28px;
  height: 14px;
  background-image: url("/images/sheet-blue.png");
  margin-left: 45px;
  transform: scale(1, -1);
}

.sessions__img {
  position: relative;
  width: 700px;
  height: 540px;
  background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(.jpg), url(image.png), #8E8E8E;
  border-radius: 10px;
}

.sessions__text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.40;
  color: #FFFFFF;
}

.sessions__img--block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

.sessions__item {
  position: relative;
  margin-bottom: 24px;
}

.sessions__item:nth-child(2n) {
  width: calc((100% - 48px) / 2);
  margin-left: 24px;
}

.sessions__img--second {
  width: 416px;
  height: 258px;
  background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(.jpg);
  border-radius: 10px;
}

.reviews {
  padding-bottom: 226px;
}

.box__reviews {
  width: 636px;
  height: 350px;
  background-color: #018ABE;
  border-radius: 10px;
  padding: 50px 60px;
  margin: 0 auto;
}

.reviews__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.40;
  margin-bottom: 20px;
}

.reviews__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.40;
}

.about {
  padding-bottom: 150px;
}

.about__block {
  display: flex;
  justify-content: center;
}

.about__block:not(:last-child) {
  margin-bottom: 100px;
}

.about__box {
  width: 466px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.40;
  margin: auto 0;
}

.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.40;
  margin-bottom: 30px;
}

.about__indent {
  margin-top: 20px;
}

.about__img {
  width: 526px;
  height: 365px;
  border-radius: 10px;
  margin-left: 64px;
}

.about__img--rigth {
  margin-left: 0;
  margin-right: 64px;
}

.price {
  padding-bottom: 150px;
}

.price__box {
  margin: auto 0;
  margin-right: 134px;
}

.price__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.price__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.40;
}

.price__title::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 9px;
  background-image: url("/images/sheet-blue-L.png");
  margin-right: 20px;
}

.price__total {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.40;
  margin-left: 30px;
}

.price__img {
  width: 526px;
  height: 396px;
  border-radius: 10px;
}

.gift {
  margin-top: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.40;
  text-align: center;
}

.location {
  padding-bottom: 90px;
}

.location__entry {
  flex-direction: column;
}

.location-box {
  width: 392px;
  height: 290px;
  background: #018ABE;
  border-radius: 10px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  padding: 35px 45px;
}

.location-box:not(:first-child) {
  margin-top: 25px;
}

.location__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.40;
  margin-bottom: 20px;
}

.location__icon {
  fill: #FFFFFF;
  justify-content: space-between;
  margin-right: 20px;
}

.location__item:not(:first-child) {
  margin-bottom: 21px;
}

.location__btn {
  padding: 9px 15px;
  border-radius: 3px;
  color: #018ABE;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location__btn:hover,
.location__btn:focus {
  color: #03fc4e;
  background-color: #0791b8;
}

.news {
  padding-top: 60px;
  padding-bottom: 120px;
}

.news__img--block {
  display: flex;
  flex-wrap: wrap;
}

.news__item {
  position: relative;
  width: calc((100% - 72px) / 3);
  margin-left: 24px;
  margin-bottom: 24px;
}

.news__item:nth-child(3n + 1) {
  margin-left: 0px;
}

.news__img {
  width: 416px;
  height: 258px;
  background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(.jpg);
  border-radius: 10px;
}

.news__data {
  position: absolute;
  width: 96px;
  height: 30px;
  left: 40px;
  top: 35px;
  color: #FFFFFF;
  background: #018ABE;
  border-radius: 5px;
}

.news__text {
  padding: 6px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.35;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.format {
  padding-top: 60px;
  padding-bottom: 160px;
}

.format__data {
  width: 96px;
  height: 30px;
  margin-bottom: 50px;
  background: #018ABE;
  border-radius: 5px;
}

.format__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.40;
}

.format__block {
  display: flex;
}

.format__text {
  width: 526px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.40;
}

.format__img {
  margin-left: 134px;
}

.format__photo {
  border-radius: 10px;
}

.format__text > .format__text--margin {
  margin-top: 30px;
}

.blog {
  padding-top: 60px;
  padding-bottom: 120px;
}

.blog__block {
  display: flex;
  padding: 50px 60px;
  border: 2px solid #018ABE;
  box-sizing: border-box;
  border-radius: 20px;
}

.blog__block:not(:last-child) {
  margin-bottom: 45px;
}

.blog__img {
  margin-right: 50px;
}

.blog__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.40;
}

.blog__text {
  width: 564px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.40;
}

.blog__btn {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.35;
  color: #FFFFFF;
  background: #018ABE;
  border-radius: 5px;
}

.blog-width {
  height: 430px;
}

body {
  font-family: 'El Messiri', sans-serif;
  background-color: #162831;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1326px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */