.header-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-pages__line {
    border-bottom: 1px solid #FFFFFF;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__item {
    position: relative;
    padding: 20px 5px;
}

.navigation__item:not(:first-child) {
    margin-left: 50px;
}

.navigation__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
    color: $link-color--current;
}

.navigation__link:hover,
.navigation__link:focus {
    color: $link-color;
}

.navigation__link--current::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

.btn-prim {
    height: 36px;
    padding: 9px 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.40;
    background-color: $bg-btn;
    color: $primary-text-color;
    border-radius: 3px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-prim:hover,
.btn-prim:focus {
    color: $link-color;
}