.location {
    padding-bottom: 90px;
}

.location__entry {
    flex-direction: column;
}

.location-box {
    width: 392px;
    height: 290px;
    background: #018ABE;
    border-radius: 10px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    padding: 35px 45px;
}

.location-box:not(:first-child) {
    margin-top: 25px;
}

.location__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.40;
    margin-bottom: 20px;
}

.location__icon {
    fill: $primary-text-color;
    justify-content: space-between;
    margin-right: 20px;
}

.location__item:not(:first-child) {
    margin-bottom: 21px;
}

.location__btn {
    padding: 9px 15px;
    border-radius: 3px;
    color: $bg-btn;
}