.reviews {
    padding-bottom: 226px;
}

.box__reviews {
    width: 636px;
    height: 350px;
    background-color: #018ABE;
    border-radius: 10px;
    padding: 50px 60px;
    margin: 0 auto;
}

.reviews__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.40;
    margin-bottom: 20px;
}

.reviews__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.40;
}