$primary-text-color: #FFFFFF;
$body-bg-color: #162831;
$bg-btn: #018ABE;
$link-color--current: rgb(3, 235, 252);
$link-color: rgb(3, 252, 78);
$bg-btn-hover: rgb(7, 145, 184);
$gradient: rgba(152, 201, 220, 0.3);